@import url(http://fonts.googleapis.com/css?family=Patua+One|Roboto:300|Roboto+Slab:400,700|PT+Serif:400,700,400italic,700italic);


@ied-margin-lg: 30px;
@ied-margin-md: 20px;
@ied-margin-sm: 10px;

@ied-column-width:700px;

@ied-color:rgba(0,0,0,.8);


body,td,input,select {
	-webkit-font-smoothing: antialiased;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ied-content {

	color:@ied-color;
	font-size:22px;
	line-height:1.5;

	position:relative;
	width:100%;
	margin:@ied-margin-lg 0;

	& > .ied-article {
		
		section.col {
			width:@ied-column-width;
			margin:0 auto;
			padding:@ied-margin-md 0;

			figure {
				position:relative;
				max-width:100%;
				clear: both;
				box-sizing: border-box;
				outline:none;

				figcaption {
					position:absolute;
					left: -172px;
					width:150px;
					top:0;
					text-align:right;
					margin-top:0;
					padding-top:10px;
					font-weight:400;
					font-style:italic;
					font-size:14px;
					line-height:1.4;
					color:rgba(0,0,0,.6);
					outline:0;

					&:after {
						position:absolute;
						width: 25%;
					    margin-left: 75%;
					    border-top: 1px solid rgba(0,0,0,0.15);
					    display: block;
					    content: '';
					    top:0;
					}
				}
				img {
					max-width:100%;
					height:auto;
				}
			}

			&.wide {
				width:(@ied-column-width + 200);
			}

			&.full {
				width:100%;
			}

			&.wide, &.full figure {
				figcaption {
					position:relative;
					left:auto;
					width:auto;
					top:auto;
					text-align:center;
					&:after {
						border:none;
					}
				}
				img {
					width:100%;
					height:auto;
				}
			}

			&.inline-text, &.inline-text-expand {
				// aici nu merge cu float left la sectiune, trebuie numai la imagine, iar in cadrul <figure> mai trebuie un <p>
				& > figure {
					float:left;	
					margin: 0 30px 10px 0;
					width:50%;
					max-width:50%;
					& > img {
						width:100%;
					}

					& > figcaption {
						display:block;
						// position:relative;
					}
				}

			}

			&.inline-text-expand {
				& > figure {
					position:relative;
					margin-left: -160px;
					width:75%;
					max-width:75%;
					& > figcaption {
						left:auto;
						width:auto;
						top:auto;
						text-align:center;
						position:relative;
						&:after {
							border:none;
						}
					}
				}
			}

			h1,h2,h3,h4,h5,h6,p,figure {
				margin:0;
				padding:0;
			}

			h1 {
				font-family: 'Roboto Slab', cursive;
				font-size:70px;
				line-height:1;
				padding-bottom:@ied-margin-md;
			}

			h2 {
				font-family: 'Roboto Slab','Lucida Grande';
				font-size: 60px;
				line-height:1.2;
				font-weight:400;
				b {
					font-weight:700;
				}
				padding-bottom:@ied-margin-md;
			}
			h3 {
				font-family: 'PT Serif', cursive;
				font-size:48px;
				line-height:1.2;
				font-weight:400;
				b {
					font-weight:700;
				}
				padding-bottom:@ied-margin-sm;
			}

			h4 {
				font-family:'Roboto Light';
				font-weight:300;
				line-height:1.1;
				padding-bottom:@ied-margin-sm;
			}

			h5,h6 {
				padding-bottom:@ied-margin-sm;
			}

			p {
				font-family:'PT Serif';
			}

			.text-left {
				text-align:left !important;
			}
			.text-right {
				text-align:right !important;
			}
			.text-center {
				text-align: center !important;
			}
			.text-justify {
				text-align: justify !important;
			}
		}
	}

}
